{% extends 'base.html' %}

{% block nav %}
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'csv_list' %}">CSV List</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'people_list' uuid=csvdownload.uuid %}">People List</a>
  </li>
{% endblock %}

{% block content %}
  <h3>People ({{ csvdownload.uuid }}.csv)</h3>
  <hr>
    <div class="btn-group" role="group" aria-label="Basic example">
      {% for column in headers %}
        <a href="{% url 'counts' uuid=csvdownload.uuid %}?columns={{column}}" type="button" class="btn btn-secondary">{{ column }}</a>
      {% endfor %}
    </div>
  <hr>
  <table class="table">
    <thead>
      <tr>
        {% for header in headers %}
          <th>
            <a href="{% url 'people_list' uuid=csvdownload.uuid %}?sortby={{ header }}&ordering={% if queryparams.ordering == 'asc' %}desc{% else %}asc{% endif %}&count=10">
              {% if queryparams.sortby == header %}
                {% if queryparams.ordering == 'desc' %}
                  <span>&#8593;</span>
                {% endif %}
                {% if queryparams.ordering == 'asc' %}
                  <span>&#8595;</span>
                {% endif %}
              {% endif %}
              {{ header }}
            </a>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          {% for person_field in person %}
            <td>
              {{ person_field }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if has_more %}
    <hr>
    <a href="{% url 'people_list' uuid=csvdownload.uuid %}?sortby={{ queryparams.sortby }}&ordering={{ queryparams.ordering }}&count={{ queryparams.count }}" class="btn btn-primary">
      Load more
    </a>
  {% endif %}
{% endblock %}